.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  pointer-events: none;
  z-index: 1;
}

.loading-info {
  position: absolute;
  top: 60%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .7s;
}

.loading-background {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 5px;
  background: #ccc;
  overflow: hidden;
}

.loading-thumb {
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--primary-black);
}

.bg {
  filter: saturate(2);
}
