.catalogs {
  font-size: 1rem;
  background: url(../../../materials/backgrounds/waves-right.svg) no-repeat 100%
      100%,
    url(../../../materials/backgrounds/waves-left.svg) no-repeat 0% 20%;
  background-size: 40% 150%;
  min-height: 100vh;
}

.catalogs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 10em auto;
  max-width: 830px;
  gap: 20px;
  /* border: 3px solid red; */
}

.catalogs-title {
  padding: 4em 0 2em 0;
  font-size: 2.375em;
  line-height: 1.05;
  text-align: center;
}

.catalogs-card {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 380px;
  height: 170px;
  font-family: "e-Ukraine-Light", sans-serif;
  /* color: #fff; */
  font-size: 2em;
  line-height: 1.05;
  border-radius: 10px;
  border: 2px solid #0e0e0e59;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.25s;
}

.catalogs-card:hover {
  box-shadow: 0 10px 15px 0 #9c9c9c8a;
  transform: translateY(-10px);
}

/* .catalogs-card:nth-child(1) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../../../materials/img/catalogs/dancers.jpeg") no-repeat 150% / contain;
}
.catalogs-card:nth-child(1) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../../../materials/img/catalogs/clubs.jpg") no-repeat 50% / cover;
}
.catalogs-card:nth-child(2) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../../../materials/img/catalogs/judges.jpg") no-repeat 50% / cover;
} */

@media (max-width: 840px) {
  .catalogs {
    font-size: 12px;
    background-size: 90% 160%;
  }
  .catalogs-wrapper {
    max-width: 500px;
  }
  .catalogs-card {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .catalogs {
    font-size: 20px;
    background: url(../../../materials/backgrounds/mobile/waves-left.svg),
      url(../../../materials/backgrounds/mobile/waves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 15%, 100% 100%;
    background-size: 90% 150%;
  }
  .catalogs-title {
    font-size: 1.2em;
  }
  .catalogs-wrapper {
    width: 100%;
  }
  .catalogs-card {
    font-size: 1em;
    height: 120px;
  }
}
