.club-card-img {
  width: 141px;
  height: 141px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.club-card-city,
.club-card-owner,
.coaches-quantity,
.dancers-quantity,
.club-cards-details-link {
  font-size: 13px;
  font-family: "e-Ukraine-Light";
}

.card-inner {
  margin-bottom: 20px;
}

.club-card-title {
  font-size: 20px;
  margin: 5px 0;
}

.club-card-owner {
  margin-bottom: 20px;
}

.club-card-stats {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  margin-bottom: 20px;
}

.coaches-quantity,
.dancers-quantity {
  position: relative;
}

.coaches-quantity::before,
.dancers-quantity::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}

.coaches-quantity::before {
  background: url(../../../../../../materials/icons/clubcard/coaches.svg);
}

.dancers-quantity::before {
  background: url(../../../../../../materials/icons/clubcard/dancers.svg);
}

.club-cards-details-link {
  text-decoration: underline;
}

@media (max-width: 840px) {
  .club-card-img {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .card-inner {
    margin: 0;
    margin-right: 35px;
  }
  .club-cards-details-link {
    display: none;
  }
  .club-card-stats {
    margin: 0;
    width: unset;
    flex-direction: column;
    gap: 15px;
  }
  .coaches-quantity::before,
  .dancers-quantity::before {
    transform: translateY(-50%) scale(0.7);
  }
  .coaches-quantity,
  .dancers-quantity {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .club-card-city,
  .club-card-owner {
    font-size: 12px;
  }
  .club-card-title {
    font-size: 18px;
  }
}
