.management-card-wrapper {
  --coefficient: 1;
  --card-width: 17vw;
  position: relative;
  width: calc(100% / 5);
  height: calc(var(--card-width) * 2 * var(--coefficient));
}

.management-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--card-width) * var(--coefficient));
  height: calc(var(--card-width) * 1.8 * var(--coefficient));
  border-radius: 0.75em;
  border: 2px solid #ccc;
  background: #fff;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.management-photo {
  width: 100%;
}

.management-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -15%;
  width: 100%;
  background: #fff;
  transition: bottom 0.4s;
}

.management-name {
  margin-top: calc(1vw * var(--coefficient));
  font-family: "e-Ukraine-Light", sans-serif;
  font-size: calc(1.2vw * var(--coefficient));
  line-height: 1.5;
}

.management-role {
  display: -webkit-box;
  padding-right: 5px;
  color: #555;
  font-family: "e-Ukraine-Thin", sans-serif;
  font-size: calc(0.8vw * var(--coefficient));
  line-height: 1.2;
  text-align: center;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.more-btn {
  margin: calc(1.8vw * var(--coefficient)) 0;
  padding: calc(0.5vw * var(--coefficient)) 0;
  width: 70%;
  color: #fff;
  font-size: calc(0.8vw * var(--coefficient));
  font-family: "e-Ukraine-Light", sans-serif;
  border: 1px solid #555;
  border-radius: 50px;
  background: #222;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

/* Animations */
.more-btn:is(:hover, :focus) {
  background: none;
  color: #555;
}

.management-card:hover .management-info {
  bottom: 0;
}

@media (max-width: 1150px) {
  .management-card-wrapper {
    --coefficient: 1.3;
    width: calc(100% / 4);
  }
}

@media (max-width: 840px) {
  .management-card-wrapper {
    --coefficient: 1.8;
    width: calc(100% / 3);
    height: calc(var(--card-width) * 2.3 * var(--coefficient));
  }
  .management-card .management-info {
    position: static;
  }
  .management-card {
    height: auto;
  }
  .more-btn {
    margin: calc(1.2vw * var(--coefficient)) 0;
  }
}

@media (max-width: 550px) {
  .management-card-wrapper {
    --coefficient: 2.7;
    width: calc(100% / 2);
    height: calc(var(--card-width) * 2.2 * var(--coefficient));
  }
}
