.class-birth {
  display: flex;
  flex-direction: column;
}

.dancer-class {
  margin-bottom: 12%;
}

@media (max-width: 1150px) {
  .catalog-card {
    --coefficient: 0.8;
  }
}

@media (max-width: 840px) {
  .catalog-card.dancer-card {
    gap: 0;
  }
  .dancer-class {
    margin-bottom: 7px;
  }
  .dancer-card .card-name {
    margin-top: 0;
  }
  .catalog-card {
    margin: -1px 0;
    width: 100%;
  }
  .dancer-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-class {
    justify-self: center;
    margin: 0;
  }
  .card-club {
    color: rgba(100, 100, 100, 0.8);
    white-space: nowrap;
  }
  .class-birth {
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 550px) {
  .dancer-birthday {
    font-size: 10px;
  }
  .dancer-club {
    font-size: 10px;
  }
  .dancer-class {
    font-size: 10px;
  }
  .dancer-card .dancer-name {
    font-size: 14px;
    line-height: 1;
  }
}
