.coach-card .dancers-quantity {
  margin: 10px 0 0 30px;
}

@media (max-width: 840px) {
  .coach-card {
    display: grid;
    grid-template-columns: 0.75fr 2fr 0.75fr;
  }
  .coach-card .dancers-quantity {
    margin: 0;
  }
  .coach-name-club {
    text-align: center;
  }
  .coach-name-club .card-name {
    line-height: 1.5;
  }
  .coach-name-club .coach-club {
    color: rgba(100, 100, 100, 0.8);
  }
  a.dancer-details {
    display: none;
  }
}

@media (max-width: 550px) {
  .coach-card .card-name {
    white-space: normal;
  }
}
