.calendar {
    padding: 10em 0;
    font-size: 1rem;
}

.calendar-title {
    font-size: 2.375rem;
    line-height: 2.5rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

@media (max-width: 550px) {
    .calendar {
        font-size: 0.7rem;
    }
}