.calendar {
  padding: 10em 0;
  font-size: 1rem;
  background: url(../../../materials/backgrounds/waves-left.svg) 0% 95%
      no-repeat,
    url(../../../materials/backgrounds/waves-right.svg) top right no-repeat;
}

.calendar-title {
  font-size: 2.375rem;
  line-height: 2.5rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

@media (max-width: 840px) {
  .calendar {
    background-size: 80% 170%;
    background-position: 0% 0%, 100% 113%;
  }
}

@media (max-width: 550px) {
  .calendar {
    font-size: 0.7rem;
    background: url(../../../materials/backgrounds/mobile/waves-left.svg),
      url(../../../materials/backgrounds/mobile/waves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 -20%, 100% 135%;
    background-size: 90% 150%;
  }
}
