.coach-info {
  padding-top: 150px;
}

.coach {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
}

.coach-avatar {
  width: 180px;
  height: 180px;
  border: 1px solid #272500;
  border-radius: 50%;
  object-fit: cover;
}

.coach-name {
  font-size: 24px;
}

.coach-inner,
.coach-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coach-details-wrapper {
  display: flex;
  gap: 4px;
}
.coach-details-wrapper dd {
  font-family: "e-Ukraine-Light";
}

.coach-dancers {
  text-align: center;
}

.coach-dancers-title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 35px;
}

.coach-detail-dancers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
  row-gap: 30px;
}

@media (max-width: 840px) {
  .coach-detail-dancers-wrapper {
    margin: 0 auto 50px;
    width: 90%;
    gap: 0px;
  }
}
