.coach-info {
  padding-top: 150px;
  background: url(../../../../../../../materials/backgrounds/waves-right.svg)
      no-repeat 100% 100%,
    url(../../../../../../../materials/backgrounds/waves-left.svg) no-repeat 0%
      20%;
  background-size: 40% 150%;
  background-attachment: fixed;
}

.coach {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.coach-avatar {
  width: 180px;
  height: 180px;
  border: 1px solid #272500;
  border-radius: 50%;
  object-fit: cover;
}

.coach-name {
  font-size: 24px;
}

.coach-inner,
.coach-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coach-details-wrapper {
  display: flex;
  gap: 4px;
}
.coach-details-wrapper dd {
  font-family: "e-Ukraine-Light";
}

.coach-socials-wrapper {
  margin: 15px 0 100px;
}

.coach-dancers {
  text-align: center;
}

.coach-dancers-title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 35px;
}

.coach-detail-dancers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
  width: 70%;
  gap: 50px;
}

.coach-info-no-results {
  margin-top: 0;
  height: 20vh;
}

.coach-info .dancer-card {
  --coefficient: 0.9;
}

@media (max-width: 1150px) {
  .catalog-card.dancer-card {
    --coefficient: 0.8;
  }
  .coach-detail-dancers-wrapper {
    width: 80%;
    gap: 20px;
  }
}

@media (max-width: 840px) {
  .coach-detail-dancers-wrapper {
    margin: 0 auto 50px;
    width: 90%;
    gap: 0px;
  }
}

@media (max-width: 550px) {
  .coach-info {
    padding-top: 70px;
    background: url(../../../../../../../materials/backgrounds/mobile/waves-left.svg),
      url(../../../../../../../materials/backgrounds/mobile/waves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 100% 100%;
    background-size: 70% 150%;
    background-attachment: fixed;
  }
  .coach {
    flex-direction: column;
    gap: 30px;
  }
  .coach-socials-wrapper {
    margin: 15px 0 50px;
  }
  .coach-details-wrapper {
    font-family: "e-Ukraine-Light", sans-serif;
    margin: 0 auto;
  }
  .coach .coach-name {
    text-align: center;
  }
}
