.card-club-city,
.card-club-owner {
  white-space: nowrap;
}

.club-card .img-wrapper > img {
  object-fit: contain;
}

@media (max-width: 840px) {
  .card-city,
  .card-club-owner {
    color: rgba(100, 100, 100, 0.8);
  }
  .coach-club {
    justify-self: center;
  }

  .club-card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-stats {
    justify-self: end;
    margin: 0;
    width: unset;
    flex-direction: column;
    gap: 15px;
  }
  .club-card-stats {
    margin: 0;
    width: unset;
    flex-direction: column;
    gap: 15px;
  }
  .coaches-quantity::before,
  .dancers-quantity::before {
    transform: translateY(-50%) scale(0.7);
  }
  .coaches-quantity,
  .dancers-quantity {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .club-card {
    grid-template-columns: 1fr 4fr 1fr;
  }
}
