.form-control {
  position: relative;
  font-size: 0.8125em;
}

.input {
  padding: 1em 1.5384em;
  width: calc(100% - 1.5384em * 2);
  font-size: 1em;
  border: 1px solid #0e0e0e59;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
}

.input:focus {
  outline: none;
}

.input::-webkit-scrollbar {
  width: 0.7em;
}
.input::-webkit-scrollbar-track {
  background: var(--primary-black);
}
.input::-webkit-scrollbar-thumb {
  margin-left: 30px;
  border-radius: 50px;
}

.label {
  position: absolute;
  top: 1em;
  left: 1.5384em;
  pointer-events: none;
}

.label span {
  display: inline-block;
  min-width: 5px;
  font-size: 1em;
  backdrop-filter: blur(10px);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input:focus + .label span,  
.input:valid + .label span {  
  padding: 0 0.15625em;
  transform: translateY(-1.6em);
}

textarea {
  resize: vertical;
}
