.judge-card {
  justify-content: space-around;
}

.judge-card .card-name {
  white-space: normal !important;
}

@media (max-width: 840px) {
  .judge-card {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .judge-card .dancer-name {
    margin: 0;
  }
  .judge-details {
    display: none;
  }
  /* .judge-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

  } */
  .judge-class {
    line-height: 1;
  }
}

@media (max-width: 550px) {
  .judge-class {
    font-size: 12px;
  }
}
