.class-birth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  position: relative;
  width: 100%;
}

/* .class-birth::after,
.class-birth::before {
  position: absolute;
  top: 50%;
  color: #fff;
  font-family: inherit;
  gap: 30px;
  transform: translateY(-50%);
}
.class-birth::before {
  content: "F  >";
  left: 7%;
}
.class-birth::after {
  content: ">  D";
  right: 7%;
} */

.dancer-class {
  position: relative;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.dancer-class::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 40px;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.dancer-class::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 1150px) {
  .catalog-card {
    --coefficient: 0.8;
  }
}

@media (max-width: 840px) {
  .catalog-card.dancer-card {
    gap: 0;
  }
  .dancer-class {
    margin-bottom: 7px;
  }
  .dancer-card .card-name {
    margin-top: 0;
  }
  .catalog-card {
    margin: -1px 0;
    width: 100%;
  }
  .dancer-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-class {
    justify-self: center;
    margin: 0;
  }
  .card-club {
    color: rgba(100, 100, 100, 0.8);
    white-space: nowrap;
  }
  .class-birth {
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 550px) {
  .dancer-birthday {
    font-size: 10px;
  }
  .dancer-club {
    font-size: 10px;
  }
  .dancer-class {
    font-size: 10px;
  }
  .dancer-card .dancer-name {
    font-size: 14px;
    line-height: 1;
  }
}
