.class-birth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  position: relative;
  width: 100%;
}

.dancer-class {
  position: relative;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.dancer-class::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(300px * var(--coefficient));
  height: calc(40px * var(--coefficient));
  transform: translate(-50%, -50%);
  z-index: -2;
}

@media (max-width: 1150px) {
  .catalog-card {
    --coefficient: 0.8;
  }
  .dancer-class {
    font-size: 1.2em;
  }
}

@media (max-width: 840px) {
  .catalog-card.dancer-card {
    gap: 0;
  }
  .dancer-card .card-name {
    margin-top: 0;
    line-height: 1.6;
  }
  .catalog-card {
    margin: -1px 0;
    width: 100%;
  }
  .dancer-card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .dancer-card .card-name {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-class {
    justify-self: center;
    margin: 0;
  }
  .card-club {
    color: rgba(100, 100, 100, 0.8);
    white-space: nowrap;
  }
  .class-birth {
    align-items: flex-end;
  }
  .dancer-class {
    margin-right: 20px;
    font-size: 1.2em;
  }
  .dancer-class:before {
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #0e0e0e59;
  }
  .dancer-class.Debut:before,
  .dancer-class.School:before,
  .dancer-class.Pro:before {
    width: 150%;
    height: 40px;
    aspect-ratio: unset;
    border-radius: 50px;
  }
}

@media (max-width: 550px) {
  .dancer-club {
    font-size: 10px;
  }
  .dancer-card .dancer-name {
    font-size: 14px;
    line-height: 1;
  }
  .dancer-class {
    margin-right: 10px;
    font-size: 1.15em;
    letter-spacing: 0;
  }
  .dancer-class:before {
    width: 35px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #0e0e0e59;
  }
  .dancer-class.Debut,
  .dancer-class.School,
  .dancer-class.Pro {
    margin-right: 4%;
    font-size: 12px;
  }
  .dancer-class.Debut:before,
  .dancer-class.School:before,
  .dancer-class.Pro:before {
    width: 140%;
    height: 30px;
  }
}
