.calendar-month {
  margin: 75px auto 0 auto;
  max-width: 70%;
  /* border: 2px solid blue; */
}

.calendar-month-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.events-slider {
  margin-top: 2.375rem;
  width: 70%;
  /* border: 2px solid red; */
}
