.calendar-month {
  margin: 4.7em auto 0 auto;
  width: 84%;
  font-size: 1rem;
}

.calendar-month-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.events-slider {
  padding: 0 10px !important;
  margin-top: 2.375rem;
  width: 80%;
}

.events-slider-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.arrow {
  position: relative;
  width: 33px;
  height: 60px;
  cursor: pointer;
  transition: 0.2s;
}

.arrow-line {
  display: block;
  position: absolute;
  left: 50%;
  height: 50%;
  width: 3px;
  background-color: var(--primary-black);
  transform: skew(-45deg) translateX(-50%);
  transition: 0.2s;
}

.arrow-right {
  transform: rotateZ(180deg);
}

.arrow-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.arrow-line:last-child {
  bottom: 0;
  transform: skew(45deg);
}

.arrow:hover {
  transform: scale(1.2);
}

.arrow-right:hover {
  /* width: 5px; */
  transform: scale(1.2) rotateZ(180deg);
}

@media (max-width: 1150px) {
  .calendar-month {
    width: 95%;
  }
}

@media (max-width: 840px) {
  .arrow {
    display: none;
  }
  .calendar-month,
  .events-slider {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .calendar-month {
    font-size: 0.5rem;
  }
}
