.btn {
  width: 10.625em;
  height: 3.4375em;
  color: var(--primary-black);
  font-size: 1em;
  background: transparent;
  border: 1px solid var(--primary-black);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  transition: 0.2s;
}

.btn:hover {
  background: linear-gradient(
    228.75deg,
    hsla(calc(var(--hue) - 54), 0%, 81%, 0.3) 0%,
    hsla(calc(var(--hue) - 54), 0%, 94%, 0.075) 101.36%
  );
}

.btn:active {
  background: linear-gradient(
    228.75deg,
    hsla(calc(var(--hue) - 54), 0%, 36%, 0.3) 0%,
    hsla(calc(var(--hue) - 54), 0%, 43%, 0.075) 101.36%
  );
}

.about-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  backdrop-filter: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.about-btn:hover,
.about-btn:active {
  background: none;
}

.about-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  border: 3px solid;
  border-color: transparent #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: borderRotation 25s infinite linear;
}

.circular {
  margin-left: 100px;
}

.circular > svg {
  width: 10.75rem;
  height: 10.75rem;
  display: block;
  overflow: visible;
}

.about-btn-text {
  font-size: 0.5em;
  line-height: 1.1875;
}

.feedback-btn {
  align-self: flex-end;
}

.feedback-main .feedback-btn {
  align-self: center;
  z-index: 3;
}

.btn[disabled],
.event-info-btn.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.btn[disabled]:hover,
.btn[disabled]:active {
  background: transparent;
}

.event-details-btn {
  margin: 0 auto;
  display: inline;
  width: auto;
  height: auto;
  border: none;
  text-align: center;
  text-decoration: underline;
}

.event-details-btn:hover,
.event-details-btn:active {
  background: none;
}

.database-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.6875em;
  height: 3.5em;
  color: #fff;
  background: #e97485;
}

.database-btn:hover {
  background: #c95264;
}

.database-btn:active {
  background: #b84b5b;
}

.event-info-btn {
  display: grid;
  place-items: center;
  width: calc(100% / 3 - var(--gap) * 2);
  min-width: 130px;
  flex-grow: 1;
}

.event-info-btn.black {
  color: #fff;
  background-color: #252525;
}

.back-link {
  display: inline;
  width: auto;
  height: auto;
  border: none;
}

.back-link:hover {
  background: none;
}

.catalog-more-btn {
  margin-top: 50px !important;
  display: block;
  margin: 0 auto;
}
