.catalog {
  padding: 100px 0;
  background: url(../../../../materials/backgrounds/waves-right.svg) no-repeat
      100% 100%,
    url(../../../../materials/backgrounds/waves-left.svg) no-repeat 0% 20%;
  background-size: 40% 150%;
  min-height: 100vh;
  background-attachment: fixed;
}

.catalog-title {
  margin-top: -50px;
  font-size: 38px;
  text-align: center;
}

.catalog-wrapper .loader-sec {
  margin-top: 200px;
  height: auto;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.no-dancers-searched {
  margin-top: 150px;
  font-size: 1.5rem;
}

@media (max-width: 840px) {
  .catalog-wrapper {
    gap: 0;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
