.club-info {
  padding-top: 150px;
  background: url(../../../../../../../materials/backgrounds/waves-right.svg)
      no-repeat 100% 100%,
    url(../../../../../../../materials/backgrounds/waves-left.svg) no-repeat 0%
      20%;
  background-size: 40% 150%;
  background-attachment: fixed;
}

.club {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
}

.club-avatar {
  width: 180px;
  height: 180px;
  border: 1px solid #272500;
  border-radius: 50%;
  object-fit: cover;
}

.club-name {
  font-size: 24px;
}

.club-inner,
.club-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.club-details-wrapper {
  display: flex;
  gap: 4px;
}
.club-details-wrapper dd {
  font-family: "e-Ukraine-Light";
}

.club-dancers {
  text-align: center;
}

.club-dancers-title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 35px;
}

.club-detail-dancers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto 100px;
  width: 70%;
  gap: 50px;
}

.catalog-card.dancer-card {
  --coefficient: 1;
}
.catalog-card.coach-card {
  --coefficient: 1;
}

/* Quantity */
.club-dancers-coaches-quantity {
  display: flex;
  gap: 20px;
}

.club-coaches,
.club-dancers {
  margin-left: 25px;
}

/* Club catalogs */
.club-catalog {
  padding-bottom: 50px;
}

@media (max-width: 1150px) {
  .catalog-card.dancer-card {
    --coefficient: 0.8;
  }
  .club-detail-dancers-wrapper {
    width: 80%;
    gap: 20px;
  }
}

@media (max-width: 840px) {
  .club-detail-dancers-wrapper {
    margin: 0 auto 50px;
    width: 90%;
    gap: 0px;
  }
}

@media (max-width: 550px) {
  .club-info {
    padding-top: 70px;
    background: url(../../../../../../../materials/backgrounds/mobile/waves-left.svg),
      url(../../../../../../../materials/backgrounds/mobile/waves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 100% 100%;
    background-size: 70% 150%;
    background-attachment: fixed;
  }
  .club {
    flex-direction: column;
    gap: 30px;
  }
  .club-details-wrapper {
    font-family: "e-Ukraine-Light", sans-serif;
    margin: 0 auto;
  }
  .club .club-name {
    text-align: center;
  }
}
