.nearest-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nearest-events-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.75rem;
  line-height: 1.15;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  word-spacing: 50px;
  animation: marquee 3s infinite linear;
}

.marquee:after {
  content: "Найближчі заходи Найближчі заходи Найближчі заходи Найближчі заходи Найближчі заходи";
  margin-left: 59px;
  word-spacing: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10.17%);
  }
}

.event-void {
  font-size: 2rem;
}

.nearest-events-wrapper {
  display: flex;
  gap: 70px;
  margin: 56px auto 36px auto;
  max-width: 941px;
}

.slider {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 130px calc(50% - 234px) !important;
  width: 234px;
  min-height: 100px;
}


