.nearest-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nearest-events-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.75rem;
  line-height: 1.15;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  word-spacing: 50px;
  animation: marquee 3s infinite linear;
}

.marquee:after {
  content: "Найближчі заходи Найближчі заходи Найближчі заходи Найближчі заходи Найближчі заходи";
  margin-left: 59px;
  word-spacing: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10.17%);
  }
}

.event-void {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  width: 100px;
  text-align: center;
  color: var(--primary-black);
  transform: translate(-50%, -50%);
}

.nearest-events-wrapper {
  position: relative;
  display: flex;
  gap: 70px;
  margin: 56px auto 36px auto;
  max-width: 941px;
}

.slider {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 130px calc(50% - 234px) !important;
  width: 234px;
  min-height: 100px;
}

@media (max-width: 1150px) {
  .nearest-events-wrapper {
    gap: 35px;
  }
  .nearest-event-card {
    width: 180px;
    height: 180px;
    font-size: 0.875rem;
  }
}

@media (max-width: 840px) {
  .nearest-event-card {
    width: 157px;
  }
}

@media (max-width: 550px) {
  .nearest-events-wrapper {
    display: none;
  }
  .slider {
    display: flex;
    margin: 0;
    padding: 50px calc(100%/2 - 120px) !important;
  }
  .event-void {
    font-size: 1.5rem;
  }
}



