.nearest-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  padding: 5px 0;
}

/*!old marquee

/* .nearest-events-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.75em;
  line-height: 1.15;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  word-spacing: 50px;
  animation: marquee 3s infinite linear;
}

.marquee:after {
  content: "Найближчі заходи СГОСТУ Найближчі заходи СГОСТУ Найближчі заходи СГОСТУ Найближчі заходи СГОСТУ Найближчі заходи СГОСТУ ";
  /* margin-left: 59px; */
/* word-spacing: 50px; */

/* @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-15.17%);
  }
} */

.nearest-events-title {
  display: flex;
  justify-content: flex-start;

  overflow: hidden;
  width: 100%;
}

.nearest-events-title p {
  font-size: 1.75em;
  white-space: nowrap;
  padding: 0 1rem;
  animation: move-rtl 3s linear infinite;
  /* margin-left: 59px; */
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.event-void {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  width: 100px;
  text-align: center;
  color: var(--primary-black);
  transform: translate(-50%, -50%);
}

.nearest-events-wrapper {
  position: relative;
  display: flex;
  gap: 4.375em;
  margin: 3.5em auto 2.25em auto;
  max-width: 941px;
}

.slider {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8.125em calc(50% - 14.625em) !important;
  width: 14.625em;
  min-height: 6.25em;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d9d9d978;
  opacity: 1;
  border-radius: 50px;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  width: 20px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.nearest-event-card {
  width: 17em;
  height: 27em;
}

@media (max-width: 1150px) {
  .nearest-events {
    font-size: 0.9rem;
  }
}

@media (max-width: 840px) {
  .nearest-event-card {
    font-size: 0.7em;
  }
  .nearest-events-wrapper {
    gap: 15px;
  }
}

@media (max-width: 550px) {
  .nearest-events-title {
    font-size: 1.25em !important; 
  }
  .nearest-events-wrapper {
    display: none;
  }
  .slider {
    display: flex;
    margin: 0;
    font-size: 1rem;
    padding: 50px calc(100% / 2 - 120px) !important;
  }
  .event-void {
    font-size: 1.5rem;
  }
  .nearest-event-card {
    font-size: 0.9em;
  }
}
