.news {
  padding: 8em 0;
  font-size: 1rem;
  /* border: 2px solid red */
}

.news-title {
  margin-bottom: 1.8421em;
  font-size: 2.375em;
  text-align: center;
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 0.8125em;
  gap: 3.84615em;
  /* border: 2px solid blue; */
}

@media (max-width: 840px) {
  .news {
    font-size: 0.8rem;
  }
  .news-slider {
    width: 25em;
    padding: 30px calc(40% - 7.625em) !important;
  }
}

@media (max-width: 650px) {
  .news-slider {
    width: 21em;
  }
}

@media (max-width: 550px) {
  .news {
    padding: 5em 0;
    font-size: 0.8rem;
  }
  .news-wrapper {
    gap: 10px;
  }
  .news .last-news-card {
    padding: 5px;
    width: calc(100% / 2 - 17px);
  }
  .news-slider {
    width: 21em;
  }
}
