@media (max-width: 840px) {
  .cards-wrapper {
    max-width: 562px;
    gap: 10px;
  }
  .advantage-card {
    font-size: 0.825rem;
  }
  .advantage-card:first-child {
    font-size: 1.25rem;
  }
}

@media (max-width: 550px) {
  .advantages {
    background: url(../../../../materials/backgrounds/mobile/waves-left.svg),
      url(../../../../materials/backgrounds/mobile/waves-right.svg);
    background-size: 75% 131%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 100% 120%;
  }
  .cards-wrapper {
    max-width: 85%;
    gap: 4px;
  }
  .advantage-card {
    padding: 1.875rem 0.375rem 0 0.375rem;
    min-height: 140px;
    text-align: center;
    font-size: 0.7rem;
    background-position: 50% 125%;
  }
  .advantage-card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1.125rem;
    text-align: left;
    padding: 0 40px;
  }
  .advantage-card:nth-child(2) {
    background: url(../../../../materials/icons/advantages/mobile/star-5.svg)
      no-repeat 50% 100%;
  }
  .advantage-card:nth-child(3) {
    grid-area: 2 / 1 / 2 / 1;
    background: url(../../../../materials/icons/advantages/mobile/star-2.svg)
      no-repeat 50% 100%;
  }
  .advantage-card:nth-child(4) {
    background: url(../../../../materials/icons/advantages/mobile/star-3.svg)
      no-repeat 50% 100%;
  }
  .advantage-card:nth-child(5) {
    background: url(../../../../materials/icons/advantages/mobile/star-6.svg)
      no-repeat 50% 100%;
  }
  .advantage-card:nth-child(6) {
    background: url(../../../../materials/icons/advantages/mobile/star-1.svg)
      no-repeat 50% 100%;
  }
  .advantage-card:nth-child(7) {
    background: url(../../../../materials/icons/advantages/mobile/star-4.svg)
      no-repeat 50% 100%;
  }
  .advantage-card:nth-child(8) {
    background: url(../../../../materials/icons/advantages/mobile/star-7.svg)
      no-repeat 50% 100%;
  }
}

@media (max-width: 400px) {
  .cards-wrapper {
    gap: 4px;
  }
  .advantage-card {
    font-size: 0.6em;
  }
}
