.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../../../materials/images/waves-right-hero.svg) no-repeat 100%
      0%,
    url(../../../materials/images/waves-left-hero.svg) no-repeat 0% 100%;
  background-size: 60%;
}

.hero__wrapper {
  position: relative;
  z-index: 1;
}

.hero__wrapper::after {
  position: absolute;
}

.title {
  max-width: 1025px;
  font-size: 3.5rem;
  line-height: 1.07;
}

.title > div {
  min-height: 65px;
  overflow: hidden;
}

.title > div > span {
  display: block;
  transform: translateY(100%);
}

.blur {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(235, 246, 255, 0.75) -1.82%,
    rgba(255, 255, 255, 0.225) 48.03%,
    rgba(235, 246, 255, 0.75) 100%
  );
  backdrop-filter: blur(4px);
  z-index: 0;
}