.about {
  width: 100%;
  overflow: hidden;
}

.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 auto; */
  padding: 100px 25px;
  /* max-width: 50vw; */
  /* overflow: hidden; */
}

.about-text {
  max-width: 36.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

.about-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.11;
}

.about-text > p {
  font-family: "e-Ukraine-Light";
}

.about-row > hr {
  margin-left: 2.6vw;
  width: 155px;
  height: 3px;
  border: none;
  background-color: #000;
}

.circular {
  position: relative;
}

.rounded-text {
  animation: 15s rotation linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes borderRotation {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(-360deg);
  }
}

@media (max-width: 840px) {
  .about-row {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .about-text {
    font-size: 0.75rem;
    max-width: 357px;
  }
  .circular {
    margin-left: 40px;
  }
  .circular svg {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 550px) {
  .about-wrapper {
    flex-direction: column;
  }
  .about-row {
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
  }
  .about-row > hr {
    width: 54.4vw;
    height: 2px;
  }
  .about-text p {
    margin: 0 0 70px 0;
    font-size: 0.625rem;
  }
  .circular {
    margin-left: 0;
  }
  .circular svg {
    width: 110px;
    height: 110px;
  }
}
