.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../../../../materials/backgrounds/waves-right-hero.svg)
      no-repeat 100% 85%,
    url(../../../../materials/backgrounds/waves-left-hero.svg) no-repeat 0% 35%;
  background-size: 40% 150%;
}

.title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "e-Ukraine-Head", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
  cursor: default;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title > div {
  min-height: 65px;
  overflow: hidden;
}

.title > div > span {
  display: block;
  transform: translateY(100%);
}

.hero-cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.1s;
}

.hero-arrow-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 3em;
  font-weight: 200;
  transform: translateX(-50%);
  z-index: 1;
}

.blur {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(235, 246, 255, 0.75) -1.82%,
    rgba(255, 255, 255, 0.225) 48.03%,
    rgba(235, 246, 255, 0.75) 100%
  );
  backdrop-filter: blur(4px);
  z-index: 0;
}

@media (max-width: 840px) {
  .hero {
    background-position: 110% 80%, 0 20%;
    background-size: 70% 150%;
  }
  .title-stroke {
    margin: 0 auto;
    max-width: 538px;
    font-size: 2.25rem;
  }
}

@media (max-width: 550px) {
  .hero {
    background-size: 90% 150%;
    background-position: 100% 100%, 0 0;
  }
  .title-stroke {
    max-width: 329px;
    text-align: center;
    margin: 0 auto;
  }
}
