.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  padding: 18px 10px 36px 10px;
  width: 238px;
  height: 324px;
  font-family: "e-Ukraine-Light", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #0e0e0e59;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.card-wrapper > .img-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #0e0e0e59;
}

.card-wrapper > .img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-wrapper.dancer-card {
  gap: 10px;
}

.class-birth {
  display: flex;
  flex-direction: column;
}

.name-club {
  justify-self: center;
}

.dancer-name {
  font-family: "e-Ukraine-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0;
}

.dancer-class {
  margin: 16px 0 6px 0;
}

.dancer-club {
  margin: 12px 0 8px 0;
}

.dancer-details {
  margin-top: auto;
}

@media (max-width: 840px) {
  .card-wrapper.dancer-card {
    gap: 0;
  }
  .dancer-card .dancer-name {
    margin-top: 0;
  }
  .card-wrapper {
    margin: -1px 0;
    width: 100%;
  }
  .dancer-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .dancer-class {
    justify-self: center;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .dancer-birthday {
    font-size: 10px;
  }
  .dancer-club {
    font-size: 10px;
  }
  .dancer-class {
    font-size: 10px;
  }
  .dancer-card .dancer-name {
    font-size: 14px;
    line-height: 14px;
  }
  .dancer-class {
    margin: 0;
  }
}
