.header {
  position: fixed;
  padding: 8px 0;
  width: 100%;
  height: 58px;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__row {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.header-logo {
  width: 63px;
}

.hamburger {
  margin-right: 70px;
  width: 37px;
  cursor: pointer;
}

.hamburger.active {
  cursor: default;
}

.ham-line {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary-black);
  transition: 0.6s ease-in-out;
}

.stuffing {
  margin: 10px 0;
  width: 20px;
}

.hamburger .top-bun.active,
.hamburger .stuffing.active,
.hamburger .bottom-bun.active {
  width: 0;
}
.stuffing.active {
  transition-delay: 0.2s;
}
.bottom-bun.active {
  transition-delay: 0.4s;
}

.cross {
  position: relative;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.cross::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  border: 2px solid var(--primary-black);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cross-line {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-black);
  transform: translateY(-50%) rotateZ(45deg);
}

.cross-line:first-child {
  transform: translateY(-50%) rotateZ(-45deg);
}

.cross.active {
  pointer-events: all;
  cursor: pointer;
}

.cross.active:hover {
  transform: scale(1.5);
}

@media (max-width: 840px) {
  .header-logo {
    width: 45px;
  }
  .company-name {
    font-size: 0.875rem;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    margin: 0 !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  .cross::before {
    width: 150%;
    height: 150%;
  }
}

@media (max-width: 550px) {
  .company-name {
    display: none;
  }
  .header-logo {
    width: 50px !important;
    margin: 0;
  }
  .hamburger {
    width: 25px !important;
  }
  .hamburger > .stuffing {
    width: 13px;
    margin: 7px 0;
  }
  .cross::before {
    width: 130%;
    height: 130%;
  }
}
