@media (max-width: 840px) {
  .header-logo {
    width: 45px;
  }
  .company-name {
    font-size: 0.875rem;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    margin: 0 !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}

@media (max-width: 550px) {
  .company-name {
    display: none;
  }
  .header-logo {
    width: 50px !important;
    margin: 0;
  }
  .hamburger {
    width: 25px !important;
  }
  .hamburger > .stuffing {
    width: 13px;
    margin: 7px 0;
  }
}
