.last-news {
  /* --padding: 1.53846em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  margin-top: 11.53846em;
  overflow: hidden;
  /* width: 100%; */
  /* border: 3px solid red; */
}

.last-news-wrapper {
  position: relative;
  display: flex;
  /* justify-content: center; */
  gap: 50px;
  margin: 2.923076em auto 2.8461538em auto;
  max-width: 941px;
}

.last-news-title {
  display: block;
  font-size: 2.923076em;
  text-align: center;
  /* margin-bottom: 1.8421em; */
}

/* @media (max-width: 1150px) {
  .last-news {
    font-size: 0.75rem;
  }
} */

.news-slider {
  --card-width: calc(20em - var(--padding) * 2 - 2px);
  display: none;
  /* justify-content: center;
  align-items: center; */
  padding: 8.125em calc(48% - 7.625em) !important;
  width: 16.8em;
  min-height: 6.25em;
}

.news-slider > .swiper-wrapper {
  /* border: 3px solid blue; */
  display: flex;
  width: calc(var(--card-width) * 3 - 160px - 6px) !important;
}

.news-slider > .swiper-wrapper > .swiper-slide {
  width: var(--card-width) !important;
}

@media (max-width: 840px) {
  .last-news {
    font-size: 0.8rem;
    --padding: 0;
  }
  .last-news-wrapper {
    display: none;
  }
  .news-slider {
    display: block;
  }
}

@media (max-width: 550px) {
  .nearest-events-title {
    font-size: 3em;
  }
  .nearest-events-wrapper {
    display: none;
  }
  .slider {
    display: flex;
    margin: 0;
    font-size: 1rem;
    padding: 50px calc(100% / 2 - 120px) !important;
  }
  .event-void {
    font-size: 1.5rem;
  }
}
