@media (max-width: 840px) {
  .hero {
    background-size: 70%;
  }
  .header-logo {
    width: 45px;
  }
  .company-name {
    font-size: 14px;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    margin: 0;
  }
  .title-stroke {
    max-width: 538px;
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 550px) {
  .company-name {
    display: none;
  }
  .header-logo {
    width: 30px;
    margin: 0;
  }
  .hamburger {
    width: 25px;
  }
  .stuffing {
    width: 13px !important;
    margin: 7px 0;
  }
  .title-stroke {
    max-width: 329px;
    text-align: center;
    margin: 0 auto;
  }
}
