.slider-box {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  background: url(materials/backgrounds/waves-right.svg) no-repeat 100% 100%,
    url(materials/backgrounds/waves-left.svg) no-repeat 0% 20%;
  background-size: 40% 150%;
}

.slider-doc {
  height: 100vh;
}

.slider-doc .swiper-wrapper {
  padding-left: 20vw;
}

.tilt {
  perspective: 1000px;
}

.back-btn {
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 1;
}

.slider-doc .swiper-button-next,
.slider-doc .swiper-button-prev {
  transform: scale(1.5);
}
.slider-doc .swiper-button-next::after,
.slider-doc .swiper-button-prev::after {
  color: #000;
}

.slider-doc .swiper-button-next {
  right: 5%;
}
.slider-doc .swiper-button-prev {
  left: unset;
  right: 55%;
}

.slider-box ~ .footer {
  display: none;
}

@media (max-width: 1150px) {
  .slider {
    font-size: 0.8rem;
  }
  .slider-doc .swiper-button-next {
    right: 2%;
  }
  .slider-doc .swiper-button-prev {
    left: unset;
    right: 57%;
  }
  .slider-doc .swiper-button-next,
  .slider-doc .swiper-button-prev {
    transform: scale(1);
  }
}
@media (max-width: 870px) {
  .slider {
    font-size: 0.6rem;
  }
  .slider-doc .swiper-wrapper {
    padding-left: 10vw;
  }
  .slider-doc .swiper-button-next {
    top: 40%;
    right: 3%;
  }
  .slider-doc .swiper-button-prev {
    top: 40%;
    left: unset;
    right: 75%;
  }
}
@media (max-width: 550px) {
  .slider {
    font-size: 0.4rem;
  }
  .slider-box {
    background: url(materials/backgrounds/mobile/waves-left.svg), url(materials/backgrounds/mobile/waves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 100% 125%;
    background-size: 90% 130%;
  }
  .slider-doc .swiper-wrapper {
    padding-left: 0;
  }
  .slider-doc .swiper-button-next {
    top: 40%;
    right: 5%;
  }
  .slider-doc .swiper-button-prev {
    top: 40%;
    left: 5%;
    right: unset;
  }
}
