.feedback {
  font-size: 1rem;
  padding: 100px;
}

.feedback-title {
  font-size: 1.75em;
  line-height: 2em;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  max-width: 26.25em;
  gap: 1.25em;
}
