.card-wrapper > .img-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #0e0e0e59;
}

.card-wrapper > .img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dancer-name {
  font-family: "e-Ukraine-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.dancer-class {
  margin: 16px 0 6px 0;
}

.dancer-club {
  margin: 12px 0 8px 0;
}

.dancer-details {
  margin-top: auto;
}

@media (max-width: 840px) {
  .card-wrapper {
    padding: 0;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-radius: 0;
    overflow: hidden;
  }
}