.judge-card {
  justify-content: space-around;
}

.judge-card .card-name {
  white-space: normal !important;
}

@media (max-width: 840px) {
  .judge-card {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 0.75fr 2fr 0.5fr;
    gap: 20px;
  }
  .judge-card .card-name {
    text-align: left;
  }
  a.judge-details {
    display: none;
  }
  .judge-class {
    line-height: 1;
  }
}

@media (max-width: 550px) {
  .judge-class {
    font-size: 12px;
  }
}
