.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: #fff;
  z-index: -10;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 90%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  width: 200%;
  height: calc(100% / 5);
  font-size: 4rem;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px var(--primary-black);
  cursor: pointer;
  transform: translate(-20%, 50px);
}

.nav-line {
  margin: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-black);
  border: none;
  transform: translateY(50px);
}

.nav-link:hover {
  width: 79% !important;
  color: #fff;
}

.nav-link-name {
  position: relative;
  z-index: 5;
}

.nav-link-name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-black);
  transform: translateX(-120%);
  transition: 0.2s;
  z-index: 3;
}

.nav-link:hover .nav-link-name::before {
  width: 150%;
}

.cross-wrapper {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9999999;
}

.cross {
  position: relative;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.cross::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  border: 2px solid var(--primary-black);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cross > .cross-line {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 80%;
  height: 2px;
  background-color: var(--primary-black);
  transform: translate(-50%, -50%) rotateZ(45deg);
  transition: 0.2s;
}

.cross-line:first-child {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.cross.active {
  pointer-events: all;
  cursor: pointer;
}

.cross.active:hover .cross-line {
  width: 100%;
  animation: 0.5s crossAnimation;
}

.cross.active:hover .cross-line:first-child {
  animation: 0.5s crossAnimationReverse;
}

@keyframes crossAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateZ(25deg);
  }
  66% {
    transform: translate(-50%, -50%) rotateZ(65deg);
  }
}
@keyframes crossAnimationReverse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateZ(-25deg);
  }
  66% {
    transform: translate(-50%, -50%) rotateZ(-65deg);
  }
}

@media (max-width: 1150px) {
  .nav-link {
    font-size: 3.2rem;
  }
}

@media (max-width: 840px) {
  .nav-link {
    font-size: 2.18rem;
  }
}

@media (max-width: 550px) {
  .nav-wrapper {
    margin: 0 auto;
  }
  .nav-link {
    font-family: "e-Ukraine-Thin";
    letter-spacing: 2px;
    line-height: 1.2;
  }
  .nav-link:not(:first-child) {
    border-top: 1.5px solid var(--primary-black);
  }
}
