@media (max-width: 1150px) {
  .nav-link {
    font-size: 3.2rem;
  }
}

@media (max-width: 840px) {
  .nav-link {
    font-size: 2.18rem;
  }
}

@media (max-width: 550px) {
  .nav-link {
    font-family: "e-Ukraine-Thin";
    letter-spacing: 2px;
    line-height: 1.2;
  }
  .nav-link:not(:first-child) {
    border-top: 1.5px solid var(--primary-black);
  }
}
