:root {
  --hue: 57;
  --primary-black: hsl(var(--hue), 100%, 8%);
}

@font-face {
  font-family: "e-Ukraine-Head";
  src: url(./materials/fonts/e-UkraineHead-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "e-Ukraine-Light";
  src: url(./materials/fonts/e-Ukraine-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "e-Ukraine-Regular";
  src: url(./materials/fonts/e-Ukraine-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "e-Ukraine-Thin";
  src: url(./materials/fonts/e-Ukraine-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: url(./materials/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "e-Ukraine-Regular";
  color: var(--primary-black);
  box-sizing: border-box;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
textarea {
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #ff0;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  width: 90%;
  position: relative;
}
