.search-form {
  --background: rgba(255, 255, 255, 0.6);
  --border: 1px solid #0e0e0e59;
  --padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky !important;
  top: 50px;
  /* margin: 30px 50px !important; */
  padding: 30px 0px !important;
  height: 60px;
  font-size: 1.1rem;
  /* box-sizing: border-box; */
  z-index: 2;
  gap: 5px;
}

.form {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "e-Ukraine-Light", sans-serif;
  justify-content: center;
}

.search-input {
  padding-left: var(--padding);
  min-width: 320px;
  font-size: 1em;
  border: var(--border);
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: var(--background);
  backdrop-filter: blur(10px);
  border-right: none;
  height: 56px;
}

.form-inner {
  display: flex;
  transition: 0.7s;
}

.form-selectors-wrapper {
  display: flex;
}

.search-select {
  padding-left: var(--padding);
  font-family: "e-Ukraine-Light", sans-serif;
  font-size: 1em;
  height: 60px;
  border: var(--border);
  background: var(--background);
  backdrop-filter: blur(10px);
  transition: 0.2s;
  max-width: 200px;
  border-right: none;
}

.search-select:is(:focus, :active) {
  outline: none;
}

.search-btn {
  position: relative;
  width: auto;
  padding: 0 2rem;
  height: 100%;
  border: var(--border);
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--background);
  transition: 0.2s;
  height: 60px;
}

.search-btn:hover {
  background: #222;
  color: #fff;
}

.reset-filters-btn {
  width: 100%;
  height: 100%;
  font-size: 1em;
  border: var(--border);
  border-radius: 10px;
  background: var(--background);
}

.reset-filters-btn:hover {
  background: #222;
  color: #fff;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.button-wrapper {
  width: 30%;
  height: 100%;
}

.collapse-btn {
  display: none;
}

@media (max-width: 1150px) {
  .search-form {
    height: 105px;
    max-width: 585px;
  }

  .form {
    flex-direction: column;
  }
  .search-input,
  .search-select,
  .search-btn {
    height: 50px;
  }
  .search-btn {
    border-top-right-radius: 0;
  }
  .search-input {
    padding-left: calc(var(--padding) + 2px);
    border-radius: 10px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #0e0e0e59;
    width: 423px;
  }
  .search-select {
    max-width: 130px;
  }

  .search-form.judges .search-select {
    width: 379px;
    max-width: none;
  }

  .search-form.clubs .search-select {
    width: 379px;
    max-width: none;
  }

  .search-form.coaches .search-select {
    width: 379px;
    max-width: none;
  }

  .search-select:first-child {
    border-bottom-left-radius: 10px;
  }
  .form-inner {
    justify-content: center;
  }
  .reset-filters-btn {
    line-height: 1.5;
  }
}

@media (max-width: 840px) {
  .search-form {
    flex-direction: column;
    height: 150px;
  }
  .reset-filters-btn {
    width: 110%;
    height: 60px;
  }
  .button-wrapper {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .form {
    max-width: 330px;
    width: 100%;
  }
  .search-form {
    padding: 25px 0 !important;
    justify-content: center !important;
    min-height: 150px;
    font-size: 14px;
    transition: 0.5s;
  }
  .search-form.increase {
    min-height: 205px;
  }
  .search-form.dancers.increase {
    min-height: 255px;
  }
  .form-inner {
    /* width: 100%;
    flex-wrap: wrap;
    justify-items: stretch;
    transform-origin: bottom; */
    flex-direction: column;
  }
  .form-selectors-wrapper {
    display: unset;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .form-selectors-wrapper.increase {
    height: 100px;
  }

  .search-form.clubs .form-selectors-wrapper.increase {
    height: 50px;
  }
  .search-form.coaches .form-selectors-wrapper.increase {
    height: 50px;
  }
  .search-form.judges .form-selectors-wrapper.increase {
    height: 50px;
  }
  .search-form.clubs,
  .search-form.coaches,
  .search-form.judges .form-inner {
    /* width: unset;
    max-width: 379px; */
    max-width: 379px;
    width: 100%;
  }

  .search-form.clubs .form-inner {
    max-width: 379px;
    width: 100%;
  }

  .search-form.coaches .form-inner {
    max-width: 379px;
    width: 100%;
  }

  .search-form.coaches,
  .search-form.judges .search-select {
    width: unset;
    max-width: none;
  }
  .search-form.clubs .search-select {
    width: unset;
    max-width: none;
  }
  .search-form.coaches .search-select {
    width: unset;
    max-width: none;
  }
  .search-input {
    padding-left: 10px !important;
    min-width: unset;
    width: 100%;
    padding-left: 8px;
    box-sizing: border-box;
  }
  .search-select {
    padding-left: 21px !important;
    max-width: 310px;
    width: 100%;
    color: #222 !important;
    border-radius: 0;
    border-right: var(--border);
    border-bottom: none;
  }
  .search-select:first-child {
    min-width: 100%;
    border-bottom-left-radius: 0;
  }
  .search-select:nth-child(3) {
    padding-left: 1px;
    border-left: none;
  }
  .search-select:nth-child(2),
  .search-select:nth-child(3) {
    width: calc(100% / 2) !important;
  }
  .search-btn {
    width: 100%;
    border-bottom-left-radius: 10px;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: -1111;
  }
  .reset-filters-btn {
    width: 70%;
  }
  .collapse-btn {
    margin: 0 auto;
    display: grid;
    place-items: center;
    width: 15%;
    border: none;
    background: none;
    border-radius: 50%;
    backdrop-filter: none;
    transition: 0.3s;
  }
  .collapse-btn:hover,
  .collapse-btn:active {
    color: unset;
    background: none;
  }
  .collapse-btn.increase {
    transform: rotate(180deg);
  }
}
